body{
    padding: 20px 0 0;
}
header {
    justify-content: space-between;
}
header img{
    height: 60px;
}
.navbar ul{
    justify-content: flex-end;
    max-width: 340px;
}
.navbar li{
    margin-right: 10px;
    line-height: 25px;
}
.icons img{
    height: 30px;
    margin-right: 20px;
}
.icons img::after{
    content:"";
    border-right: blue;
    border-width: 5px;
    
}
.section-banner{
    position: relative;
    background-color: #E6E6E6;
    height: 520px;
    width: 100%;
    padding: 1% 0 0;
}
.container{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 460px;
    max-width: 90%;
    margin: auto;
}
.section-banner h3{
    position: absolute;
    color: #fff;
    font-size: 30px;
    max-width: 400px;
    top: 65%;
    left: 6%;
}
.banner-logo{
    position: absolute;
    height: 30px;
    top: 80%;
    left: 85%;
}
.section-videos{
    background-color: #363E97;
    height: 499px;
}
.section-videos h4{
    font-size: 24px;
    color: #fff;
    padding: 2% 0 0 5%;
}
.hover-h4:hover{
    color: red;
    font-size: 30px;
    transition: 1s;
}
.flex{
    display: flex;
}
.videos{
    justify-content: center;
    margin-top: 3%;
}
.videos div{
    margin-right: 5%;
}
.section-news{
    background-color: #BDCCD4;
    width: 100%;
    height: 450px;
}
.section-news h4{
    font-size: 24px;
    color: #3D58A6;
    padding: 2% 0 0 5%;
}
.news-box{
    justify-content: space-between;
    height:300px;
    padding: 0 3%;
}
.news-box div{
    margin: 10px;
}
.news-box: :last-child{
    margin-right: 0;
}
.news-box h5{
    background-color: #E6E6E6;
    height: 60px;
    text-align: center;
    padding: 15px 0 10px 0
}
/* .hover-h5:hover{ */

}
.featured{
    background-color: #E6E6E6;
    height: 345px;
}
.featured h4{
    font-size: 24px;
    padding: 2% 0 0 5%;
}
.hand-phone{
    justify-content: space-around;
}
.hand-phone h5{
    font-size: 22px;
    padding: 10px 20px;
}
.hand-box img{
    width: 100px;
    height: 130px;
    margin: 15px;
}
.phone-box img{
    width: 85px;
    height: 127.5px;
    margin: 15px;
}
.hand-phone p{
    max-width: 355px;
    margin: 15px 10px 0 25px;
}
.phonehand-boxes{
    background-color: #F2F2F2;
    height: 225px;
    margin:20px;
}






@media screen and (max-width: 1024px){
    .section-videos{
        display: none;
    }
    .section-news{
        height: 650px;
    }
    .news-box{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 635px){
    .section-news{
        height: 1270px;
    }
    .featured{
        height: 500px;
    }
    .phonehand-boxes{
        height: 370px;
    }
    .phone{
        flex-wrap: wrap;
    }
    .hand{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 410px){
    .navbar{
        display: none;
    }
    .icons{
        display: none;
    }
    .hand-phone{
        flex-wrap: wrap;
    }
    .featured{
        height: 900px;
    }
}